<!DOCTYPE html>
<html>
<head>
  <title>ViteRailsApp</title>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application.jsx' %>
  <%#= vite_stylesheet_tag 'application' %>
</head>

<body>
<%= yield %>
</body>
</html>